@use 'sass:math';
@use 'variables' as *;

@function rem($px) {
  @return math.div($px, $font-size-base) + rem;
}

@mixin separator {
  width: rem(48);
  height: 1px;
}

@mixin background {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% 100%;
}

%text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
