$font-size-base: 16;

// Fonts
$font-family: 'Roboto', sans-serif;
$second-family: 'Playfair', sans-serif;

// Colors
$text-primary: #fff;
$text-secondary: #413d4b;
$text-light-one: #333;
$text-light-two: #2f2d35;
$text-light-three: #f9f9f9;
$text-light-four: #fafafa;
$text-black: #000;
$text-active: #00e0d0;
$text-muted: rgba(255, 255, 255, 0.75);
$burger-menu: #c9c9c9;
$burger-menu-list: #000000e8;
$button-close: #f40202;
