@use 'sass:math';
@use './mixins' as *;
@use './variables' as *;

body {
  font-size: rem(16);
  overflow-x: hidden;
  line-height: 1.1;
  font-weight: 300;
  scroll-margin-top: rem(200);
}

body,
html,
* {
  font-family: 'Roboto';
}

.App,
#root {
  width: 100%;
  position: relative;
}

.container {
  margin-inline: rem(330);
}

.button {
  height: rem(40);

  padding: 0 rem(13);

  font-family: $font-family;
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.8;
  color: $text-active;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid $text-active;

  transition: all 0.3s;
  &:hover {
    scale: 1.05;
    color: $text-black;
    background-color: $text-active;
  }
}

@media (max-width: 1024px) {
  .container {
    margin-inline: rem(180);
  }
}

@media (max-width: 768px) {
  .container {
    margin-inline: rem(100);
  }
  .button {
    padding: 0 rem(10);
    &:hover {
      scale: 1;
      color: $text-active;
      background-color: transparent;
    }
  }
}

@media (max-width: 576px) {
  .container {
    margin-inline: rem(50);
  }
}

@media (max-width: 480px) {
  .container {
    margin-inline: rem(30);
  }
}
