.work {
  position: relative;

  overflow: hidden;
  flex-grow: 1;

  min-width: rem(266);
  height: rem(200);
  &__image {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    width: 101%;
  }
}
